body {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.layout {
  border: 1px solid #ccc;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.header {
  background: steelblue;
  height: 50px;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  background: brown;
  width: 60px;
}

.content {
  background: darkseagreen;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.box {
  background: darkorange;
  width: 80px;
  height: 80px;
}

.footer {
  background: mediumpurple;
  height: 50px;
}

/* Layout específico para el segundo (fila horizontal) */
.layout2 .content {
  flex-wrap: nowrap;
}

.layout2 .box {
  flex: 1;
  height: 100px;
}
